# output of Latex compiling
**/report/out_dir/

report/figs/*.svg

# slurm submission and outputs 
**/*/*.qsub
**/*/*1*.out

# rsync exclude
exclude-list

# Bands outputs
**/Bands/*.dat
**/Bands/*.rap

# WTe2 assignment:
WTe2/*.xsf
WTe2/*.kpf
WTe2.dat
WTe2.dat.rap

# Quantum Esspresso Outputs
*.scf.out

# LAMMPS outputs
**/*/temp*
